@use '../../styles/' as root;

.login {
  padding-block: 5vh;
  font-family: root.$font-avenir-next;

  max-width: 1360px;
  margin-block: root.$spacing-xl;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 10vh;

  &__body {
    margin-top: 1%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: root.$spacing-md;

    @include root.mq('tablet-wide', max) {
      grid-template-columns: 1fr;
    }
  }

  &__illustration {
    img {
      width: 100%;
      object-fit: contain;
    }

    @include root.mq('tablet-wide', max) {
      display: none;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: root.$spacing-xs;
    width: 100%;
    max-width: 32rem;

    &--heading {
      color: root.$color-blue;
      font-size: root.$font-xxl;
    }

    &--instruction {
      color: root.$color-grey;
      font-size: root.$font-lg;
    }

    &--main {
      margin-top: 10%;
      display: flex;
      flex-direction: column;
      gap: root.$spacing-md;

      a {
        font-size: root.$font-xs;
        font-weight: 700;
        letter-spacing: 1px;

        color: root.$color-cyan;
        text-transform: uppercase;
      }
    }
  }
}
