@use '../../styles/' as root;

.input-container {
  position: relative;

  .input {
    width: 100%;
    padding: root.$spacing-sm;
    border: 2px solid;
    @include root.color(border-color, root.$color-grey, 0.15);
    border-radius: 5px;

    &::placeholder {
      @include root.color(color, root.$color-grey, 0.6);
    }

    &:focus {
      outline: 1px solid root.$color-cyan;
    }
  }

  .toggle {
    cursor: pointer;
    position: absolute;
    right: root.$spacing-sm;
    top: 50%;
    transform: translateY(-50%);

    text-transform: uppercase;
    font-size: root.$font-xs;
    font-weight: 700;
    letter-spacing: 1px;
    color: root.$color-cyan;
  }
}
