@use '../../styles/' as root;

button {
  cursor: pointer;
  font-family: root.$font-work-sans;
}

.btn {
  @include root.flexCenter;
  padding: root.$spacing-sm;
  border: none;
  border-radius: root.$spacing-xs;
  background-color: root.$color-cyan;

  color: root.$color-white;
  font-size: root.$font-sm;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;

  &-outline {
    @include root.flexCenter;
    padding: 11px 16px;
    border: 1px solid root.$color-cyan;
    border-radius: root.$spacing-xs;
    background-color: transparent;

    font-size: root.$font-xs;
    color: root.$color-cyan;
    letter-spacing: 0.1em;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.btn-outline:hover {
  box-shadow: unset;
  //   color: $main-color;
  background-color: root.$color-white;
}

.btn.small {
  border-width: 2px;
  padding: 0.25rem 1.5rem;
  font-size: 1rem;
}
