@use '../../styles/' as *;

button {
  cursor: pointer;
  font-family: $font-work-sans;
}

.btn {
  @include flexCenter;
  padding: $spacing-sm;
  border: none;
  border-radius: $spacing-xs;
  background-color: $color-cyan;

  color: $color-white;
  font-size: $font-sm;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;

  &-outline {
    @include flexCenter;
    padding: 11px 16px;
    border: 1px solid $color-cyan;
    border-radius: $spacing-xs;
    background-color: transparent;

    font-size: $font-xs;
    color: $color-cyan;
    letter-spacing: 0.1em;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.btn-outline:hover {
  box-shadow: unset;
  //   color: $main-color;
  background-color: $color-white;
}

.btn.small {
  border-width: 2px;
  padding: 0.25rem 1.5rem;
  font-size: 1rem;
}
