@use '../../styles/' as root;

.dashboard {
  font-family: root.$font-work-sans;
  @include root.color(background-color, #fbfbfb);

  min-height: 100vh;
  width: 100%;
  max-width: 80rem;
  margin: 3rem auto;

  &__heading {
    font-size: root.$font-xl;
    font-weight: 500;
    color: root.$color-blue;
  }

  &__summary {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.875rem;
    margin-block: 2rem;

    @include root.mq('tablet', max) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include root.mq('phone-wide', max) {
      grid-template-columns: repeat(1, 1fr);
    }

    .card {
      &:nth-child(1) .card__icon {
        @include root.color(color, root.$color-pink);
        @include root.color(background-color, root.$color-pink, 0.1);
      }
      &:nth-child(2) .card__icon {
        @include root.color(color, root.$color-purple);
        @include root.color(background-color, root.$color-purple, 0.1);
      }
      &:nth-child(3) .card__icon {
        @include root.color(color, root.$color-brown);
        @include root.color(background-color, root.$color-brown, 0.1);
      }
      &:nth-child(4) .card__icon {
        @include root.color(color, root.$color-maroon);
        @include root.color(background-color, root.$color-maroon, 0.1);
      }
    }
  }
}
