/*======= Media Queries =======*/
$breakpoints: (
  'phone': 400px,
  'phone-wide': 480px,
  'phablet': 560px,
  'tablet-small': 640px,
  'tablet': 768px,
  'tablet-wide': 1024px,
  'desktop': 1248px,
  'desktop-wide': 1440px,
  'desktop-large': 1680px,
);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
  }

  @if $type == min {
    $width: $width - 1px;
  }

  @media only screen and (#{$type}-width: $width) {
    @content;
  }
}

/*======= Colors =======*/
$colors: (
  'color-white': #ffffff,
  'color-grey': #545f7d,
  'color-blue': #213f7d,
  'color-cyan': #39cdcc,
  'color-red': #e4033b,
  'color-yellow': #e9b200,
  'color-green': #39cd62,
);

@mixin color($prop, $color, $opacity: 1) {
  #{$prop}: rgba($color: $color, $alpha: $opacity);
}
