/*======= Fonts =======*/
$font-work-sans: 'Work Sans', sans-serif;
$font-avenir-next: 'Avenir Next', sans-serif;

$font-xs: 0.75rem; // 12px
$font-sm: 0.875rem; // 14px
$font-md: 1rem; // 16px
$font-lg: 1.25rem; // 20px
$font-xl: 1.5rem; // 24px
$font-xxl: 2.5rem; // 40px

/*======= Colors =======*/
$color-white: rgb(255, 255, 255);
$color-grey: rgba(84, 95, 125, 1);
$color-blue: rgba(33, 63, 125, 1);
$color-cyan: rgba(57, 205, 204, 1);
$color-pink: rgba(223, 24, 255, 1);
$color-purple: rgba(87, 24, 255, 1);
$color-brown: rgba(245, 95, 68, 1);
$color-maroon: rgba(255, 51, 102, 1);
$color-red: rgba(228, 3, 59, 1);
$color-yellow: rgba(233, 178, 0, 1);
$color-green: rgba(57, 205, 98, 1);
$gradient-border: linear-gradient(0deg, rgba(84, 95, 125, 0.15), rgba(84, 95, 125, 0.15)),
  linear-gradient(0deg, #ffffff, #ffffff);

/*======= Spacing =======*/
$spacing-xs: 0.5rem; // 8px
$spacing-sm: 1rem; // 16px
$spacing-md: 1.5rem; // 24px
$spacing-lg: 1.875rem; // 30px
$spacing-xl: 2.5rem; // 40px

/*======= Shadows =======*/
$shadow-base: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
