@use '../../styles/' as root;

.filter {
  width: 100%;
  display: inline;
  position: relative;

  svg {
    cursor: pointer;
  }

  &__form {
    $height: 2.5rem;
    position: absolute;
    top: root.$spacing-lg;
    width: 270px;
    padding: 1.25rem;
    background-color: root.$color-white;
    box-shadow: root.$shadow-base;
    border-radius: 4px;

    form {
      display: flex;
      flex-direction: column;
      gap: root.$spacing-sm;

      label {
        font-size: root.$font-sm;
        font-weight: 500;
        text-transform: capitalize;
      }
    }

    .input {
      border-width: 1px;
      padding: root.$spacing-sm;
      height: $height;
      margin-top: 6px;

      &[type='date' i] {
        color: root.$color-grey;
      }
    }

    &--buttons {
      height: root.$spacing-xl;
      display: flex;
      gap: root.$spacing-sm;
      margin-top: root.$spacing-md;

      .btn,
      .btn-outline {
        text-transform: capitalize;
        letter-spacing: 0;
        padding-inline: root.$spacing-lg;
      }

      .btn-outline {
        @include root.color(border-color, root.$color-grey, 1);
        @include root.color(color, root.$color-grey, 1);
      }
    }
  }
}
