@use '../../styles/' as *;

.paginate-container {
  margin-top: $spacing-md;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mq('tablet', max) {
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-md;
  }

  .paginate {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-right: 3%;

    .previous,
    .next {
      cursor: pointer;

      &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    .paginate__button {
      @include flexCenter;
      @include color(background-color, $color-blue, 0.1);
      padding: 0.1rem;
      border-radius: 4px;
      color: $color-blue;
      font-size: $font-xl;
    }

    .paginate__item {
      cursor: pointer;
      color: $color-grey;
      opacity: 0.6;

      &.active {
        opacity: 1;
      }
    }

    &__count {
      @include flexCenter;
      gap: $spacing-xs;
      color: $color-blue;
      font-size: $font-sm;

      select {
        @include color(background-color, $color-blue, 0.1);
        @include color(color, $color-blue);
        width: 5rem;
        padding: 7px;

        border: none;
        border-radius: 4px;
        font-size: $font-sm;
        font-weight: 500;

        &:focus-visible {
          outline: 1px solid;
          @include color(outline-color, $color-blue);
        }
      }
    }
  }
}
