@use '../../styles/' as root;

.navbar {
  z-index: 20;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
  padding-block: clamp(1rem, 2.8vh, 2rem);

  @include root.color(background-color, root.$color-white);
  box-shadow: root.$shadow-x;

  @include root.mq('tablet-wide', max) {
    display: flex;
    justify-content: space-between;
  }

  &__hamburger {
    display: none;
    color: root.$color-blue;
    font-size: root.$font-lg;

    @include root.mq('tablet-wide', max) {
      display: block;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: root.$spacing-sm;

    img {
      height: root.$spacing-lg;

      @include root.mq('phone-wide', max) {
        height: root.$spacing-md;
      }
    }
  }

  &__search {
    $height: 2.5rem;
    display: flex;
    align-items: center;

    .input {
      border-width: 1px;
      border-radius: root.$spacing-xs 0 0 root.$spacing-xs;
      padding: root.$spacing-sm;
      width: clamp(20rem, 25vw, 30rem);
      height: $height;
    }

    .btn {
      width: 4rem;
      height: $height;
      border-radius: 0 root.$spacing-xs root.$spacing-xs 0;
      @include root.flexCenter;
    }

    @include root.mq('tablet-wide', max) {
      display: none;
    }
  }

  &__aside {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: root.$spacing-lg;

    @include root.mq('tablet-wide', max) {
      gap: root.$spacing-md;
    }
  }

  &__docs {
    margin-right: root.$spacing-sm;
    font-size: root.$spacing-sm;
    color: root.$color-blue;
    text-decoration: underline;
  }

  &__notify {
    color: root.$color-blue;
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: root.$spacing-sm;

    img {
      border-radius: 50%;

      @include root.mq('phone-wide', max) {
        width: root.$spacing-xl;
        height: root.$spacing-xl;
      }
    }

    svg {
      color: root.$color-blue;
    }
  }

  /*======== Select Dropdown Styles Start =======*/
  label {
    @include root.flexCenter;
    gap: root.$spacing-xs;
  }

  select {
    border: none;
    font-size: root.$font-md;
    appearance: none;

    &:disabled {
      background-color: transparent;
      color: root.$color-blue;
      opacity: 1;

      & > option {
        color: root.$color-blue;
      }
    }
  }

  /*======== Select Dropdown Styles End =======*/

  &__options {
    display: none;
  }

  @include root.mq('tablet', max) {
    &__docs,
    label {
      display: none;
    }

    &__options {
      .navbar__docs,
      label {
        display: block;
      }

      z-index: 30;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: root.$color-white;
      border-radius: 4px;
      box-shadow: root.$shadow-y;

      color: root.$color-blue;
      font-size: root.$font-md;

      display: flex;
      flex-direction: column;
      gap: root.$spacing-sm;
      padding: root.$spacing-sm;
      width: max-content;
    }
  }
}
