@use '../../styles/' as root;

.details {
  font-family: root.$font-work-sans;
  @include root.color(background-color, #fbfbfb);

  min-height: 100vh;
  width: 100%;
  max-width: 80rem;
  margin: 3rem auto;

  nav {
    color: root.$color-blue;
    font-size: root.$font-md;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: root.$spacing-sm;
    margin-bottom: root.$spacing-lg;

    svg {
      font-size: root.$font-xl;
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include root.mq('tablet', max) {
      align-items: flex-start;
      flex-direction: column;
      gap: root.$spacing-sm;
    }

    &--title {
      font-size: root.$font-xl;
      font-weight: 500;
      color: root.$color-blue;
    }

    &--buttons {
      @include root.flexCenter;
      gap: root.$spacing-md;

      .blacklist {
        color: root.$color-red;
        border-color: root.$color-red;
      }
      .activate {
        color: root.$color-cyan;
        border-color: root.$color-cyan;
      }
    }
  }

  &__info {
    margin-top: root.$spacing-lg;
    padding-inline: root.$spacing-lg;
    border-radius: 4px;
    background-color: root.$color-white;
    box-shadow: root.$shadow-base;

    &--section {
      padding-block: root.$spacing-md;
      border-bottom: 1px solid;
      @include root.color(border-color, root.$color-blue, 0.1);

      &-title {
        font-size: root.$font-md;
        font-weight: 500;
        color: root.$color-blue;
        margin-bottom: root.$spacing-md;
      }

      &-content {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: root.$spacing-sm root.$spacing-lg;

        @include root.mq('desktop', max) {
          grid-template-columns: repeat(4, 1fr);
        }

        @include root.mq('tablet', max) {
          grid-template-columns: repeat(2, 1fr);
        }

        @include root.mq('phablet', max) {
          grid-template-columns: repeat(2, 1fr);
        }

        @include root.mq('phone-wide', max) {
          grid-template-columns: 1fr;
        }

        &-item {
          &-title {
            color: root.$color-grey;
            font-size: root.$spacing-xs;
            font-weight: 400;
            line-height: root.$spacing-sm;
            text-transform: uppercase;
          }

          &-value {
            color: root.$color-grey;
            font-size: root.$font-md;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
