@use '../../styles/' as root;

.sidebar {
  $link-padding: 0.875rem 2rem;
  $link-opacity: 0.6;

  font-size: root.$font-md;
  font-weight: 400;
  @include root.color(background-color, root.$color-white);
  box-shadow: root.$shadow-y;
  min-height: 100vh;
  margin: 2rem auto;
  padding: 2rem 0 4rem;

  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  transition: all 0.2s ease-in-out;

  &::-webkit-scrollbar {
    display: none;
  }

  @include root.mq('tablet-wide', max) {
    transform: translateX(-100%);

    &.active {
      transform: translateX(0);
      box-shadow: root.$shadow-x;
    }
  }

  &__heading {
    padding: $link-padding;
    display: flex;
    align-items: center;
    gap: root.$spacing-xs;
    color: root.$color-blue;

    select {
      border: none;
      font-size: root.$font-md;

      &:disabled {
        background-color: transparent;
        color: root.$color-blue;
        opacity: 1;

        & > option {
          color: root.$color-blue;
        }
      }
    }
  }

  &__section {
    padding-top: root.$spacing-sm;
  }

  &__navlink {
    display: flex;
    align-items: center;
    gap: root.$spacing-sm;
    padding: $link-padding;

    font-size: root.$font-md;
    color: root.$color-blue;

    &--link {
      opacity: $link-opacity;
      transition: all 0.2s ease-in-out;

      &.active,
      &:hover {
        opacity: 1;
        border-left: 3px solid root.$color-cyan;
        @include root.color(background-color, root.$color-cyan, 0.1);
      }
    }

    &--heading {
      padding-top: 0.875rem;
      font-size: root.$font-xs;
      font-weight: 500;
      color: root.$color-grey;
      text-transform: uppercase;
    }
  }
}
