@use '../../styles/' as root;

.table-container {
  overflow-x: scroll;

  // &::-webkit-scrollbar {
  //   display: none;
  // }
}

.table {
  font-family: root.$font-work-sans;
  width: 100%;
  min-width: 70rem;
  padding: 1.875rem;
  background-color: root.$color-white;
  box-shadow: root.$shadow-base;

  &__head {
    color: root.$color-grey;
    font-size: root.$font-xs;
    text-transform: uppercase;

    &--item {
      padding-block: root.$spacing-xs;
      padding-inline: root.$spacing-xs;
      text-align: start;
      position: relative;

      svg {
        font-size: root.$spacing-sm;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: root.$spacing-xs;
      }
    }
  }

  &__body {
    color: root.$color-grey;
    font-size: root.$font-sm;
    font-weight: 400;

    &:last-child {
      & .table__body--item {
        border-bottom: none;
      }
    }

    &--item {
      padding-block: root.$spacing-sm;
      padding-inline: root.$spacing-xs;
      border-bottom: 1px solid;
      @include root.color(border-bottom-color, root.$color-blue, 0.1);

      &.options {
        padding-inline: root.$spacing-xs;
      }

      &-status {
        text-transform: capitalize;
        border-radius: 6.25rem;
        padding: 6px 13px;
        width: max-content;

        &.active {
          @include root.color(background-color, root.$color-green, 0.1);
          color: root.$color-green;
        }
        &.pending {
          @include root.color(background-color, root.$color-yellow, 0.1);
          color: root.$color-yellow;
        }
        &.inactive {
          @include root.color(background-color, root.$color-grey, 0.1);
          color: root.$color-grey;
        }
        &.blacklisted {
          @include root.color(background-color, root.$color-red, 0.1);
          color: root.$color-red;
        }
      }
    }
  }
}
